html, body {
  margin: 0px;
  padding: 0px;
}

.container-fluid{
  background-image: url("../images/background/image1.jpg") ;
  text-align: center;
  height: 350px;
  position: relative;
}
.starter-content{
  margin-top: 100px;
  align-items: center;
  position: absolute;
  margin-left: 300px;
  color: white;

}
.container-fluid1{
  background-image: url("../images/background/image2.jpg");
  height: 300px;
}
.logo{
  list-style-image: unset;
  position: absolute;
  align-items: baseline;
  margin-top: 100px;
  margin-bottom: 100px
}
.mouse-click{
  list-style: none;
  position: relative;
  margin-top: 70px;
}
.content{
  margin-top: 100px;
  align-items: center;
  position: absolute;
  margin-left:200px;
  color: white;
}
.work{
 padding-left: 120px;
 padding-right: 120px; 
}
.one{
  float: left;
}
.two{
  float: center;
}
.three{
  float: right;
}
.portfolio{
 

}

.contact{
  background-image: url("../images/background/image3.jpg") ;
  text-decoration-color: black;
}

.row g-3{
  color: black;
}
.widget{
  margin-left: 320px;
}
.content-below{
  margin-left: 500px;
  font-weight: 30px;
  font-size: xx-small;
}