html, body {
  margin: 0px;
  padding: 0px;
}

.container-fluid{
  background-image: url("../images/background/h_img.jpg") ;
  text-align: center;
  height: 400px;
  position: relative;
}
.starter-content{
  margin-top: 100px;
  align-items: center;
  position: absolute;
  margin-left: 300px;
  color: white;

}
.container-fluid1{
  background-image: url("../images/background/image2.jpg");
  height: 320px;
}
.content{
  text-align: center;
}
.logo{
  list-style-image: unset;
  position: inherit;
  align-items: center;

  margin-bottom: 50px;
  margin-left: 50px;
  
}
.mouse-click{
  list-style: none;
  position: absolute;
  margin-top: 100px;
}
.content{
  margin-top: 150px;
  align-items: center;
  position: absolute;
  margin-left:300px;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 25px;
}
#p1{
  margin-left: 40px;
}

.work{
  margin-left: 120px;
  margin-right: 100px;
}
#wwd{
  font-style: bold;
  text-align: center;
}
.one{
  float: left;
  width: 35%;
  padding: 4px;
  margin: auto;
}
#dsn{
  display: table-footer-group;
  font-size: small;
}
.two{
  float: left;
  width: 35%;
  padding: 10px;
}
#dvlt{
  display: table-footer-group;
  font-size: small;
}
.three{
  float: left;
  width: 30%;
  padding: 6px;
}
#mngt{
  display: table-footer-group;
  font-size: small;
  float: center;
  
}
.portfolio{
 text-align: center;
 margin-top: 100px;
 margin-bottom: 100px;
}
#ptf{
  align-items: center;
  display: flex;
  margin-left: 600px;
  
}
#h3{
  text-align: center;
  float: ;
}
.img{
  float: left;
  width: fit-content;
  align-items: unset;

}
.contact{
  margin-bottom: 300px;
  margin-top: 100px;

}

x
.row g-3{
  color: black;
  border-color: black;
}
.form-floating{
background-color: black;
}
.widget{
  margin-left: 320px;
  background-color: white;
  padding: 4px;
}
.content-below{
  margin-left: 500px;
  font-weight: 30px;
  font-size: xx-small;
  background-color: white;
}